body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: rgb(0, 174, 255);
    font-family: 'VCR OSD Mono', monospace;
    text-shadow: 0 0 20px rgb(0, 174, 255);
    overflow: hidden;
}

#container {
    text-align: center;
    display: none;
}

img {
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 0px solid rgba(255, 175, 231, 0);
    box-shadow: 0 0 20px rgba(0, 174, 255);
    max-width: 135px;
}

i {
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

#madara-text {
    font-size: clamp(25px, 10vw, 40px);
    margin-bottom: 10px;
    text-shadow: 0 0 20px rgba(0, 174, 255);
}

#footer {
    font-size: clamp(16px, 10vw, 24px);
    margin-bottom: 15px;
    text-shadow: 0 0 20px rgba(0, 174, 255);
}

.telegram-icon,
.twitter-icon,
.instagram-icon,
.discord-icon,
.globe-icon {
    font-size: 28px;
    color: rgb(0, 174, 255);
    text-shadow: 0 0 20px rgba(0, 174, 255);
}

#song-time {
    margin-top: 15px;
}

.dabox button {
    margin-top: 14px;
    margin-right: 10px;
}

.soundcloud-icon {
    font-size: 28px;
    color: white;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0);
}

button:hover {
    transform: translateY(-3px);
}

a {
    text-decoration: none;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-right: 2px solid rgba(0, 174, 255) }
}

.typewriter {
    overflow: hidden;
    border-right: 2px solid rgba(0, 174, 255);
    white-space: nowrap;
    animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}

#click-me {
    color: rgb(0, 174, 255);
    font-size: clamp(40px, 10vw, 60px);
    text-shadow: 0 0 20px rgba(0, 174, 255);
    cursor: pointer;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 20px rgba(0, 174, 255); }
    to { text-shadow: 0 0 30px rgba(0, 174, 255); }
}

.snowflake {
    top: 0;
    left: 0;
    position: fixed;
    color: rgb(0, 174, 255);
    font-size: 15px;
    z-index: 9999;
    pointer-events: none;
    animation-name: snowflakes-fall, glow;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite;
}

* {
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto !important;
}

@keyframes snowflakes-fall {
    100% {
        transform: translateY(-10vh) rotateZ(0deg);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh) rotateZ(360deg);
        opacity: 1;
    }
}

@keyframes glow {
    100%, 100% {
        text-shadow: 0 0 10px rgb(0, 174, 255);
    }
    100% {
        text-shadow: 0 0 10px rgb(0, 174, 255);
    }
}
